*{
    margin: 0;
    padding: 0;
}

.warningDiv {
background-color: aquamarine;
height: 25px;
width: auto;
text-align: center;
line-height: normal;
padding: 0px;
margin: 0px;
padding-top: 10px;

}

.bottonWarning{
float:right;
background-color: beige;
border-radius: 4px;
font-weight: 900px ;
font-size: 15px;
margin-right: 5px;



}